In [ ]:
import pandas as pd
import re

## Leggere il contenuto del file

In [3]:
df = pd.read_csv("imdb_movies_2024.csv")
df.head()

,Title,Movie Link,Year,Duration,MPA,Rating,Votes
0,1. Inside Out 2,https://www.imdb.com/title/tt22022452/?ref_=sr...,2024,1h 36m,PG,7.6,194K
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,7.6,441K
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,7.9,90K
3,4. Moana 2,https://www.imdb.com/title/tt13622970/?ref_=sr...,2024,1h 40m,PG,7.0,56K
4,5. Despicable Me 4,https://www.imdb.com/title/tt7510222/?ref_=sr_t_5,2024,1h 34m,PG,6.2,55K

## Ottenere la lista dei film ordinata per titolo

In [4]:
df_sorted_titles = df.copy()

# Estrae il titolo
df_sorted_titles['Title'] = df['Title'].apply(lambda x: x.split(".")[1])

# Ordina in base al titolo
df_sorted_titles.sort_values(by=['Title'])

,Title,Movie Link,Year,Duration,MPA,Rating,Votes
113,2024 Oscar Nominated Short Films: Documentary,https://www.imdb.com/title/tt31272312/?ref_=sr...,2024,2h 13m,NaN,7.7,17
304,2073,https://www.imdb.com/title/tt22042346/?ref_=sr...,2024,1h 25m,NaN,5.2,217
315,50 km/h,https://www.imdb.com/title/tt27395353/?ref_=sr...,2024,1h 50m,R,6.1,521
413,A '90s Christmas,https://www.imdb.com/title/tt16270280/?ref_=sr...,2024,1h 30m,NaN,6.0,1K
42,A Complete Unknown,https://www.imdb.com/title/tt11563598/?ref_=sr...,2024,2h 21m,R,7.8,8.4K
...,...,...,...,...,...,...,...
324,Young Hearts,https://www.imdb.com/title/tt15245268/?ref_=sr...,2024,1h 37m,NaN,8.2,3.1K
193,Young Woman and the Sea,https://www.imdb.com/title/tt5177114/?ref_=sr_...,2024,2h 9m,PG,7.5,15K
173,Your Monster,https://www.imdb.com/title/tt22741760/?ref_=sr...,2024,1h 43m,R,6.4,3.3K
290,Zurawski v Texas,https://www.imdb.com/title/tt33303798/?ref_=sr...,2024,1h 38m,NaN,8.4,61
228,¡Casa Bonita Mi Amor!,https://www.imdb.com/title/tt32149731/?ref_=sr...,2024,1h 28m,NaN,7.6,1.1K

## Sapere quanti film hanno una durata >= 2h

In [5]:
df_duration= df.copy()

# Estrae il numero di ore dalla durata
df_duration['Hour Duration'] = df_duration['Duration'].apply(lambda x: re.search(r'(\d+)h', str(x)).group(1) if re.search(r'(\d+)h', str(x)) else None)

# Rimuove righe con valori nulli
df_duration.dropna(subset=['Hour Duration'], inplace=True)

# Converte in intero
df_duration['Hour Duration'] = df_duration['Hour Duration'].astype(int)

df_duration[df_duration['Hour Duration'] >= 2 ]

,Title,Movie Link,Year,Duration,MPA,Rating,Votes,Hour Duration
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,7.6,441K,2
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,7.9,90K,2
6,7. Dune: Part Two,https://www.imdb.com/title/tt15239678/?ref_=sr...,2024,2h 46m,PG-13,8.5,574K,2
7,8. Twisters,https://www.imdb.com/title/tt12584954/?ref_=sr...,2024,2h 2m,PG-13,6.5,145K,2
12,13. Kingdom of the Planet of the Apes,https://www.imdb.com/title/tt11389872/?ref_=sr...,2024,2h 25m,PG-13,6.9,141K,2
...,...,...,...,...,...,...,...,...
579,580. Monsieur Aznavour,https://www.imdb.com/title/tt26743414/?ref_=sr...,2024,2h 13m,NaN,7.4,1.3K,2
582,583. Hanu Man,https://www.imdb.com/title/tt15433956/?ref_=sr...,2024,2h 38m,NaN,7.7,29K,2
591,592. Meiyazhagan,https://www.imdb.com/title/tt26758372/?ref_=sr...,2024,2h 57m,NaN,8.4,12K,2
595,596. Vettaiyan,https://www.imdb.com/title/tt26936666/?ref_=sr...,2024,2h 43m,NaN,7.1,38K,2
598,599. Fight or Flight,https://www.imdb.com/title/tt13652286/?ref_=sr...,2024,2h 46m,NaN,7.0,117,2

## Mostrare una tabella contenente il totale di film raggruppati per colonna MPA

In [6]:
df.groupby(['MPA']).count()

           Title  Movie Link  Year  Duration  Rating  Votes
MPA
13+            1           1     1         1       1      1
16+            1           1     1         1       1      1
G              1           1     1         1       1      1
Not Rated     15          15    15        15      15     15
PG            37          37    37        37      37     37
PG-13         82          82    82        82      82     82
R            184         184   184       184     184    184
TV-14         11          11    11        11      11     11
TV-G           1           1     1         1       1      1
TV-MA         23          23    23        23      23     23
TV-PG          9           9     9         9       9      9
TV-Y           1           1     1         1       1      1
Unrated        3           3     3         3       3      3

##  Mostrare i film che hanno avuto un rating superiore a 7.5

In [7]:
df[df['Rating'] > 7.5]

,Title,Movie Link,Year,Duration,MPA,Rating,Votes
0,1. Inside Out 2,https://www.imdb.com/title/tt22022452/?ref_=sr...,2024,1h 36m,PG,7.6,194K
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,7.6,441K
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,7.9,90K
6,7. Dune: Part Two,https://www.imdb.com/title/tt15239678/?ref_=sr...,2024,2h 46m,PG-13,8.5,574K
16,17. The Wild Robot,https://www.imdb.com/title/tt29623480/?ref_=sr...,2024,1h 42m,PG,8.2,109K
...,...,...,...,...,...,...,...
571,572. The School Duel,https://www.imdb.com/title/tt33184621/?ref_=sr...,2024,1h 30m,NaN,8.9,46
580,581. Desert Fiends,https://www.imdb.com/title/tt24132110/?ref_=sr...,2024,NaN,NaN,9.2,185
582,583. Hanu Man,https://www.imdb.com/title/tt15433956/?ref_=sr...,2024,2h 38m,NaN,7.7,29K
591,592. Meiyazhagan,https://www.imdb.com/title/tt26758372/?ref_=sr...,2024,2h 57m,NaN,8.4,12K
596,597. Nr. 24,https://www.imdb.com/title/tt23782584/?ref_=sr...,2024,1h 51m,NaN,7.7,3.4K